.flex{
    display: flex;

}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.container{
    padding: 0 10vw ;
    /* margin: 0 12px; */
}
.containerhead{
    padding: 0 10vw ;
    /* margin: 0 12px; */
}
.uppercase{
    text-transform: uppercase;
}
.bold{
    font-weight:bolder;
}
.mx2{
    margin-left: 12px;
    margin-right: 12px;
}
.flex-wrap{
    flex-wrap: wrap;
}
